/* Sidebar.css */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  min-height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(135deg, #71b7e6, #9b59b6); /* Gradient background */
  padding: 25px 15px;
  width: 70px; /* Collapsed width */
  overflow-x: hidden;
  transition: width 0.5s ease; /* Smooth transition */
}

.sidebar.expanded {
  display: flex;
  width: 250px; /* Expanded width */
}

.sidebar img {
  width: 20px;
}

.sidebar .menu {
  display: block;
  margin-left: 10px;
  cursor: pointer;
}

.sidebar .new-chat {
  margin-top: 50px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: #dbdfe6;
  border-radius: 50px;
  font-size: 14px;
  color: rgb(128, 128, 128);
  cursor: pointer;
}

.sidebar .recent {
  display: flex;
  flex-direction: column;
  animation: fadeIn 1.5s;
}

.sidebar .recent-title {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #ffffff;
}

.sidebar .recent-entry {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 10px;
  padding-right: 40px;
  border-radius: 50px;
  color: ##ffffff;
  cursor: pointer;
}

.sidebar .recent-entry:hover {
  background-color: #e2e6eb;
}

.sidebar .bottom {
  display: flex;
  flex-direction: column;
}

.sidebar .menu{
  color: #dbdfe6;
}
.sidebar .bottom-item {
  padding-right: 10px;
  cursor: pointer;
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
  .sidebar.expanded {
    display: flex; /* Show sidebar on small screens when expanded */
  }
}
